In [ ]:
import pandas as pd

In [ ]:
type(df)

NameError: ignored

In [ ]:
list(df.columns)

In [ ]:
df.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [ ]:
df.tail()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [ ]:
df.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [ ]:
df["location_id"]

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    22
Name: location_id, dtype: int64

In [ ]:
type(df["location_id"])

pandas.core.series.Series

In [ ]:
list(df["location_id"])

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 22]

In [ ]:
df.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [ ]:
df[['keywords']]

                                             keywords
0   ADULT PROTECTION AND CARE SERVICES, Meal Sites...
1   EMPLOYMENT/TRAINING SERVICES, Job Development,...
2   Geriatric Counseling, Older Adults, Gay, Lesbi...
3   INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...
4      COMMUNITY SERVICES, Speakers, Automobile Loans
5   ADULT PROTECTION AND CARE SERVICES, In-Home Su...
6   ADULT PROTECTION AND CARE SERVICES, Adult Day ...
7   ADULT PROTECTION AND CARE SERVICES, Meal Sites...
8   EDUCATION SERVICES, Library, Libraries, Public...
9   EDUCATION SERVICES, Library, Libraries, Public...
10  EDUCATION SERVICES, Library, Libraries, Public...
11  EDUCATION SERVICES, Adult, Alternative, Litera...
12  EDUCATION SERVICES, Library, Libraries, Public...
13  COMMUNITY SERVICES, Interpretation/Translation...
14  ALCOHOLISM SERVICES, Residential Care, DRUG AB...
15  COMMODITY SERVICES, Clothing/Personal Items, C...
16  COMMODITY SERVICES, Clothing/Personal Items, C...
17  HEALTH SERVICES, Outpatient Care, Community Cl...
18  HEALTH SERVICES, Outpatient Care, Community Cl...
19                                                NaN
20                                                NaN
21                                    Salud, Medicina
22         Ruby on Rails/Postgres/Redis, testing, wic

In [ ]:
df[['keywords','fees']]

,keywords,fees
0,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",$2.50 suggested donation for lunch for age 60 ...
1,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",None. Donations requested of clients who can a...
2,"Geriatric Counseling, Older Adults, Gay, Lesbi...",None.
3,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...","Vary according to income ($5-$90). Cash, check..."
4,"COMMUNITY SERVICES, Speakers, Automobile Loans",$60 application fee. Cash or checks accepted.
5,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",$55 per year membership dues. Classes have fee...
6,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",$85 per day. Vary according to income for thos...
7,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",Suggested donation of $4.25 per meal for senio...
8,"EDUCATION SERVICES, Library, Libraries, Public...",None.
9,"EDUCATION SERVICES, Library, Libraries, Public...",None.
10,"EDUCATION SERVICES, Library, Libraries, Public...",None.
11,"EDUCATION SERVICES, Adult, Alternative, Litera...",None.
12,"EDUCATION SERVICES, Library, Libraries, Public...",None.
13,"COMMUNITY SERVICES, Interpretation/Translation...",None.
14,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",None.
15,"COMMODITY SERVICES, Clothing/Personal Items, C...",None for emergency services. Vary for after sc...
16,"COMMODITY SERVICES, Clothing/Personal Items, C...",None.
17,"HEALTH SERVICES, Outpatient Care, Community Cl...",None.
18,"HEALTH SERVICES, Outpatient Care, Community Cl...",None.
19,NaN,NaN
20,NaN,NaN
21,"Salud, Medicina","None, except for permits and photocopying. Cas..."
22,"Ruby on Rails/Postgres/Redis, testing, wic","None, except for permits and photocopying. Cas..."

In [ ]:
df1=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [ ]:
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df1.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
df1.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
df1.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
df1.dtypes=='object'

PassengerId    False
Survived       False
Pclass         False
Name            True
Sex             True
Age            False
SibSp          False
Parch          False
Ticket          True
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [ ]:
df1.dtypes[df1.dtypes=='object'].index

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [ ]:
df1[df1.dtypes[df1.dtypes=='object'].index]

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S
887,"Graham, Miss. Margaret Edith",female,112053,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S
889,"Behr, Mr. Karl Howell",male,111369,C148,C
890,"Dooley, Mr. Patrick",male,370376,NaN,Q

In [ ]:
df1[["Survived",'Pclass']]

     Survived  Pclass
0           0       3
1           1       1
2           1       3
3           1       1
4           0       3
..        ...     ...
886         0       2
887         1       1
888         0       3
889         1       1
890         0       3

[891 rows x 2 columns]

In [ ]:
df1[["Survived",'Pclass']][4:11:2]

    Survived  Pclass
4          0       3
6          0       1
8          1       3
10         1       3

In [ ]:
df1['new_column']=0

In [ ]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_column
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0

In [ ]:
df1['new_col']=df1["Survived"]+df1["Pclass"]

In [ ]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_column,new_col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,3
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,4
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0,2
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0,2
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0,3
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0,2
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0,3

In [ ]:
pd.Categorical(df1["Pclass"])

[3, 1, 3, 1, 3, ..., 2, 1, 3, 1, 3]
Length: 891
Categories (3, int64): [1, 2, 3]

In [ ]:
pd.Categorical(df1["Survived"])

[0, 1, 1, 1, 0, ..., 0, 1, 0, 1, 0]
Length: 891
Categories (2, int64): [0, 1]

In [ ]:
df1["Cabin"].unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [ ]:
df1[df1['Age']>18]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_column,new_col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,3
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,4
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,0,3
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0,2
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0,2
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0,2
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0,3

In [ ]:
df1[df1["Fare"]<32]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_column,new_col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,3
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,4
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,3
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,0,3
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0,2
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0,2
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0,3
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0,2
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0,3

In [ ]:
df1[df1["Fare"]==0]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_column,new_col
179,180,0,3,"Leonard, Mr. Lionel",male,36.0,0,0,LINE,0.0,NaN,S,0,3
263,264,0,1,"Harrison, Mr. William",male,40.0,0,0,112059,0.0,B94,S,0,1
271,272,1,3,"Tornquist, Mr. William Henry",male,25.0,0,0,LINE,0.0,NaN,S,0,4
277,278,0,2,"Parkes, Mr. Francis ""Frank""",male,NaN,0,0,239853,0.0,NaN,S,0,2
302,303,0,3,"Johnson, Mr. William Cahoone Jr",male,19.0,0,0,LINE,0.0,NaN,S,0,3
413,414,0,2,"Cunningham, Mr. Alfred Fleming",male,NaN,0,0,239853,0.0,NaN,S,0,2
466,467,0,2,"Campbell, Mr. William",male,NaN,0,0,239853,0.0,NaN,S,0,2
481,482,0,2,"Frost, Mr. Anthony Wood ""Archie""",male,NaN,0,0,239854,0.0,NaN,S,0,2
597,598,0,3,"Johnson, Mr. Alfred",male,49.0,0,0,LINE,0.0,NaN,S,0,3
633,634,0,1,"Parr, Mr. William Henry Marsh",male,NaN,0,0,112052,0.0,NaN,S,0,1
674,675,0,2,"Watson, Mr. Ennis Hastings",male,NaN,0,0,239856,0.0,NaN,S,0,2
732,733,0,2,"Knight, Mr. Robert J",male,NaN,0,0,239855,0.0,NaN,S,0,2
806,807,0,1,"Andrews, Mr. Thomas Jr",male,39.0,0,0,112050,0.0,A36,S,0,1
815,816,0,1,"Fry, Mr. Richard",male,NaN,0,0,112058,0.0,B102,S,0,1
822,823,0,1,"Reuchlin, Jonkheer. John George",male,38.0,0,0,19972,0.0,NaN,S,0,1

In [ ]:
df1[(df1['Sex']=="female") & (df1["Fare"]>32)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_column,new_col
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,2
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C,0,2
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C,0,3
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
853,854,1,1,"Lines, Miss. Mary Conover",female,16.0,0,1,PC 17592,39.4000,D28,S,0,2
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S,0,2
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,0,3
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,0,2
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,0,2

In [ ]:
df1[(df1['Sex']=="female") | (df1["Fare"]>32)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_column,new_col
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,4
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,2
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0,1
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,0,3
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S,0,3
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,0,3
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0,2
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0,3

In [ ]:
max(df1["Fare"])

512.3292

In [ ]:
df1[df1["Fare"]==max(df1["Fare"])]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_column,new_col
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C,0,2
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C,0,2
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C,0,2

In [ ]:
df1[df1["Fare"]==max(df1["Fare"])]["Name"]

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: object

In [ ]:
df1.iloc[:2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_column,new_col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,3
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,2

In [ ]:
df1.loc[0:2
        ]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_column,new_col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,3
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,4

In [ ]:
df1.iloc[0:2 , ["PassengerId","Survived","Pclass"]]

IndexError: ignored

In [ ]:
df1.loc[0:2 , ["PassengerId","Survived","Pclass"]]

In [ ]:
l=['a','b','c','d','e','f']

In [ ]:
pd.Series(l)

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [ ]:
df1["Name"][2:7]

2                          Heikkinen, Miss. Laina
3    Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                        Allen, Mr. William Henry
5                                Moran, Mr. James
6                         McCarthy, Mr. Timothy J
Name: Name, dtype: object

In [ ]:
s=pd.Series(list(df1["Name"][2:7]),index=['a','b','sumen','challa','Harshi'])

In [ ]:
pd.Series(df1["Name"][2:7],index=['a','b','sumen','challa','Harshi'])

a         NaN
b         NaN
sumen     NaN
challa    NaN
Harshi    NaN
Name: Name, dtype: object

In [ ]:
s1=df1["Name"][5:10]

In [ ]:
s+s1

5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
Harshi    NaN
a         NaN
b         NaN
challa    NaN
sumen     NaN
dtype: object

In [ ]:
s2=s.append(s1)

<ipython-input-38-72085ba037e8>:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2=s.append(s1)

In [ ]:
s2

a                                    Heikkinen, Miss. Laina
b              Futrelle, Mrs. Jacques Heath (Lily May Peel)
sumen                              Allen, Mr. William Henry
challa                                     Moran, Mr. James
Harshi                              McCarthy, Mr. Timothy J
5                                          Moran, Mr. James
6                                   McCarthy, Mr. Timothy J
7                            Palsson, Master. Gosta Leonard
8         Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                       Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [ ]:
df1.drop("PassengerId",axis=1,inplace=True)      #axis=0 represents X-axis that is rows axis=1 represent Y-axis that is columns
#drop function does not drop the data permanently it just deop duirng the run time and when we call dataframe again the dropped atribute
#will reappear............ To drop attribute permanetly we will place "inplace=True"

In [ ]:
df1

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_column,new_col
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,3
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,2
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,4
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,2
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0,2
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0,2
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0,3
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0,2
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0,3

In [ ]:
#To simply Drop a column we have to do
df1.drop(3,inplace=True)

In [ ]:
df1

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_column,new_col
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,3
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,2
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,4
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,3
5,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0,2
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0,2
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0,3
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0,2
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0,3

In [ ]:
df1.set_index("Name",inplace=True)

In [ ]:
df1

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_column,new_col
Name,,,,,,,,,,,,
"Braund, Mr. Owen Harris",0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,3
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",1,1,female,38.0,1,0,PC 17599,71.2833,C85,C,0,2
"Heikkinen, Miss. Laina",1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,4
"Allen, Mr. William Henry",0,3,male,35.0,0,0,373450,8.0500,NaN,S,0,3
"Moran, Mr. James",0,3,male,NaN,0,0,330877,8.4583,NaN,Q,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...
"Montvila, Rev. Juozas",0,2,male,27.0,0,0,211536,13.0000,NaN,S,0,2
"Graham, Miss. Margaret Edith",1,1,female,19.0,0,0,112053,30.0000,B42,S,0,2
"Johnston, Miss. Catherine Helen ""Carrie""",0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0,3
"Behr, Mr. Karl Howell",1,1,male,26.0,0,0,111369,30.0000,C148,C,0,2
"Dooley, Mr. Patrick",0,3,male,32.0,0,0,370376,7.7500,NaN,Q,0,3

In [ ]:
df1.loc["Moran, Mr. James"]

Survived           0
Pclass             3
Sex             male
Age              NaN
SibSp              0
Parch              0
Ticket        330877
Fare          8.4583
Cabin            NaN
Embarked           Q
new_column         0
new_col            3
Name: Moran, Mr. James, dtype: object

In [ ]:
df1.iloc[3]

Survived           0
Pclass             3
Sex             male
Age             35.0
SibSp              0
Parch              0
Ticket        373450
Fare            8.05
Cabin            NaN
Embarked           S
new_column         0
new_col            3
Name: Allen, Mr. William Henry, dtype: object

In [ ]:
df1.reset_index(inplace=True)

In [ ]:
d={"key1":[2,3,4,5],
   "key2":[3,4,5,6],
   "key3":[10,11,13,14]

}

In [ ]:

pd.DataFrame(d)

   key1  key2  key3
0     2     3    10
1     3     4    11
2     4     5    13
3     5     6    14

In [ ]:
df=pd.read_csv("taxonomy.csv.xls")

In [ ]:
df

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [ ]:
df.dropna()

    taxonomy_id                          name parent_id           parent_name
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
5     101-02-03          Help Pay for Housing    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[279 rows x 4 columns]

In [ ]:
df.dropna(axis=1)

    taxonomy_id                          name
0           101                     Emergency
1        101-01             Disaster Response
2        101-02                Emergency Cash
3     101-02-01             Help Pay for Food
4     101-02-02       Help Pay for Healthcare
..          ...                           ...
285   111-01-07              Workplace Rights
286      111-02                     Mediation
287      111-03                        Notary
288      111-04                Representation
289      111-05  Translation & Interpretation

[290 rows x 2 columns]

In [ ]:
df

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [ ]:
df.fillna("sumen")

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency     sumen                 sumen
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [ ]:
df

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [ ]:
df.fillna("sumen",inplace=True)

In [ ]:
df1.head()

,Name,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_column,new_col
0,"Braund, Mr. Owen Harris",0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,3
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,1,female,38.0,1,0,PC 17599,71.2833,C85,C,0,2
2,"Heikkinen, Miss. Laina",1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,4
3,"Allen, Mr. William Henry",0,3,male,35.0,0,0,373450,8.0500,NaN,S,0,3
4,"Moran, Mr. James",0,3,male,NaN,0,0,330877,8.4583,NaN,Q,0,3

In [ ]:
df1.groupby("Survived")

In [ ]:
df1.groupby("Survived").mean()

<ipython-input-67-f081763f9a52>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df1.groupby("Survived").mean()

,Pclass,Age,SibSp,Parch,Fare,new_column,new_col
Survived,,,,,,,
0,2.531876,30.626179,0.553734,0.329690,22.117887,0.0,2.531876
1,1.953079,28.320657,0.472141,0.466276,48.381611,0.0,2.953079

In [ ]:
df1.groupby("Survived").sum()

<ipython-input-68-18ec017ad8e8>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df1.groupby("Survived").sum()

          Pclass       Age  SibSp  Parch        Fare  new_column  new_col
Survived
0           1390  12985.50    304    181  12142.7199           0     1390
1            666   8184.67    161    159  16498.1294           0     1007

In [ ]:
df1.groupby("Sex").sum()["Fare"]

<ipython-input-69-3d4ff8137984>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df1.groupby("Sex").sum()["Fare"]

Sex
female    13913.5628
male      14727.2865
Name: Fare, dtype: float64

In [ ]:
df1.groupby("Sex").mean()["Fare"]

<ipython-input-70-4208456cb155>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df1.groupby("Sex").mean()["Fare"]

Sex
female    44.452277
male      25.523893
Name: Fare, dtype: float64

In [ ]:
df1.groupby("Pclass").mean()

<ipython-input-71-55130f69caf9>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df1.groupby("Pclass").mean()

,Survived,Age,SibSp,Parch,Fare,new_column,new_col
Pclass,,,,,,,
1,0.627907,38.250919,0.413953,0.358140,84.299128,0.0,1.627907
2,0.472826,29.877630,0.402174,0.380435,20.662183,0.0,2.472826
3,0.242363,25.140620,0.615071,0.393075,13.675550,0.0,3.242363

In [ ]:
df1.groupby("Pclass").sum()

<ipython-input-72-b70c63d58e27>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df1.groupby("Pclass").sum()

        Survived      Age  SibSp  Parch        Fare  new_column  new_col
Pclass
1            135  7076.42     89     77  18124.3125           0      350
2             87  5168.83     74     70   3801.8417           0      455
3            119  8924.92    302    193   6714.6951           0     1592

In [ ]:
df2=df1[
    ["Name","Survived","Pclass"]
][0:5]

In [ ]:
df2

                                                Name  Survived  Pclass
0                            Braund, Mr. Owen Harris         0       3
1  Cumings, Mrs. John Bradley (Florence Briggs Th...         1       1
2                             Heikkinen, Miss. Laina         1       3
3                           Allen, Mr. William Henry         0       3
4                                   Moran, Mr. James         0       3

In [ ]:
df3=df1[
    ["Name","Survived","Pclass"]
][5:16]

In [ ]:
df3

                                                 Name  Survived  Pclass
5                             McCarthy, Mr. Timothy J         0       1
6                      Palsson, Master. Gosta Leonard         0       3
7   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)         1       3
8                 Nasser, Mrs. Nicholas (Adele Achem)         1       2
9                     Sandstrom, Miss. Marguerite Rut         1       3
10                           Bonnell, Miss. Elizabeth         1       1
11                     Saundercock, Mr. William Henry         0       3
12                        Andersson, Mr. Anders Johan         0       3
13               Vestrom, Miss. Hulda Amanda Adolfina         0       3
14                   Hewlett, Mrs. (Mary D Kingcome)          1       2
15                               Rice, Master. Eugene         0       3

In [ ]:
df4=pd.concat([df2,df3])

In [ ]:
df5=pd.concat([df2,df3],axis=1)

In [ ]:
df5

,Name,Survived,Pclass,Name,Survived,Pclass
0,"Braund, Mr. Owen Harris",0.0,3.0,NaN,NaN,NaN
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1.0,1.0,NaN,NaN,NaN
2,"Heikkinen, Miss. Laina",1.0,3.0,NaN,NaN,NaN
3,"Allen, Mr. William Henry",0.0,3.0,NaN,NaN,NaN
4,"Moran, Mr. James",0.0,3.0,NaN,NaN,NaN
5,NaN,NaN,NaN,"McCarthy, Mr. Timothy J",0.0,1.0
6,NaN,NaN,NaN,"Palsson, Master. Gosta Leonard",0.0,3.0
7,NaN,NaN,NaN,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1.0,3.0
8,NaN,NaN,NaN,"Nasser, Mrs. Nicholas (Adele Achem)",1.0,2.0
9,NaN,NaN,NaN,"Sandstrom, Miss. Marguerite Rut",1.0,3.0
10,NaN,NaN,NaN,"Bonnell, Miss. Elizabeth",1.0,1.0
11,NaN,NaN,NaN,"Saundercock, Mr. William Henry",0.0,3.0
12,NaN,NaN,NaN,"Andersson, Mr. Anders Johan",0.0,3.0
13,NaN,NaN,NaN,"Vestrom, Miss. Hulda Amanda Adolfina",0.0,3.0
14,NaN,NaN,NaN,"Hewlett, Mrs. (Mary D Kingcome)",1.0,2.0
15,NaN,NaN,NaN,"Rice, Master. Eugene",0.0,3.0

In [ ]:
df5.fillna("Sumen",inplace=True)

In [ ]:
df5

,Name,Survived,Pclass,Name,Survived,Pclass
0,"Braund, Mr. Owen Harris",0.0,3.0,Sumen,Sumen,Sumen
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1.0,1.0,Sumen,Sumen,Sumen
2,"Heikkinen, Miss. Laina",1.0,3.0,Sumen,Sumen,Sumen
3,"Allen, Mr. William Henry",0.0,3.0,Sumen,Sumen,Sumen
4,"Moran, Mr. James",0.0,3.0,Sumen,Sumen,Sumen
5,Sumen,Sumen,Sumen,"McCarthy, Mr. Timothy J",0.0,1.0
6,Sumen,Sumen,Sumen,"Palsson, Master. Gosta Leonard",0.0,3.0
7,Sumen,Sumen,Sumen,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1.0,3.0
8,Sumen,Sumen,Sumen,"Nasser, Mrs. Nicholas (Adele Achem)",1.0,2.0
9,Sumen,Sumen,Sumen,"Sandstrom, Miss. Marguerite Rut",1.0,3.0
10,Sumen,Sumen,Sumen,"Bonnell, Miss. Elizabeth",1.0,1.0
11,Sumen,Sumen,Sumen,"Saundercock, Mr. William Henry",0.0,3.0
12,Sumen,Sumen,Sumen,"Andersson, Mr. Anders Johan",0.0,3.0
13,Sumen,Sumen,Sumen,"Vestrom, Miss. Hulda Amanda Adolfina",0.0,3.0
14,Sumen,Sumen,Sumen,"Hewlett, Mrs. (Mary D Kingcome)",1.0,2.0
15,Sumen,Sumen,Sumen,"Rice, Master. Eugene",0.0,3.0

In [ ]:
d1={"key1":[2,3,4,5],
   "key2":[3,4,5,6],
   "key3":[10,11,13,14]
    }
d2={"key1":[20,3,4,50],
   "key4":[3,40,5,60],
   "key5":[10,11,13,14]

}

In [ ]:
data1=pd.DataFrame(d1)
data2=pd.DataFrame(d2)

In [ ]:
data1

   key1  key2  key3
0     2     3    10
1     3     4    11
2     4     5    13
3     5     6    14

In [ ]:
data2

   key1  key4  key5
0    20     3    10
1     3    40    11
2     4     5    13
3    50    60    14

In [ ]:
pd.merge(data1,data2)

   key1  key2  key3  key4  key5
0     3     4    11    40    11
1     4     5    13     5    13

In [ ]:
pd.merge(data1,data2,how="left")

   key1  key2  key3  key4  key5
0     2     3    10   NaN   NaN
1     3     4    11  40.0  11.0
2     4     5    13   5.0  13.0
3     5     6    14   NaN   NaN

In [ ]:
pd.merge(data1,data2,how="right")

   key1  key2  key3  key4  key5
0    20   NaN   NaN     3    10
1     3   4.0  11.0    40    11
2     4   5.0  13.0     5    13
3    50   NaN   NaN    60    14

In [ ]:
pd.merge(data1,data2,how="outer")

   key1  key2  key3  key4  key5
0     2   3.0  10.0   NaN   NaN
1     3   4.0  11.0  40.0  11.0
2     4   5.0  13.0   5.0  13.0
3     5   6.0  14.0   NaN   NaN
4    20   NaN   NaN   3.0  10.0
5    50   NaN   NaN  60.0  14.0

In [ ]:
pd.merge(data1,data2,how="cross")

    key1_x  key2  key3  key1_y  key4  key5
0        2     3    10      20     3    10
1        2     3    10       3    40    11
2        2     3    10       4     5    13
3        2     3    10      50    60    14
4        3     4    11      20     3    10
5        3     4    11       3    40    11
6        3     4    11       4     5    13
7        3     4    11      50    60    14
8        4     5    13      20     3    10
9        4     5    13       3    40    11
10       4     5    13       4     5    13
11       4     5    13      50    60    14
12       5     6    14      20     3    10
13       5     6    14       3    40    11
14       5     6    14       4     5    13
15       5     6    14      50    60    14

In [ ]:
df1["Fare_inr"]=df1["Fare"].apply(lambda x:x*80)

In [ ]:
df1

,Name,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_column,new_col,Fare_inr
0,"Braund, Mr. Owen Harris",0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,3,580.000
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,1,female,38.0,1,0,PC 17599,71.2833,C85,C,0,2,5702.664
2,"Heikkinen, Miss. Laina",1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,4,634.000
3,"Allen, Mr. William Henry",0,3,male,35.0,0,0,373450,8.0500,NaN,S,0,3,644.000
4,"Moran, Mr. James",0,3,male,NaN,0,0,330877,8.4583,NaN,Q,0,3,676.664
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,"Montvila, Rev. Juozas",0,2,male,27.0,0,0,211536,13.0000,NaN,S,0,2,1040.000
886,"Graham, Miss. Margaret Edith",1,1,female,19.0,0,0,112053,30.0000,B42,S,0,2,2400.000
887,"Johnston, Miss. Catherine Helen ""Carrie""",0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0,3,1876.000
888,"Behr, Mr. Karl Howell",1,1,male,26.0,0,0,111369,30.0000,C148,C,0,2,2400.000
889,"Dooley, Mr. Patrick",0,3,male,32.0,0,0,370376,7.7500,NaN,Q,0,3,620.000

In [ ]:
df1["Name_len"]=df1["Name"].apply(len)

In [ ]:
df1

,Name,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_column,new_col,Fare_inr,Name_len
0,"Braund, Mr. Owen Harris",0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,3,580.000,23
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,1,female,38.0,1,0,PC 17599,71.2833,C85,C,0,2,5702.664,51
2,"Heikkinen, Miss. Laina",1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,4,634.000,22
3,"Allen, Mr. William Henry",0,3,male,35.0,0,0,373450,8.0500,NaN,S,0,3,644.000,24
4,"Moran, Mr. James",0,3,male,NaN,0,0,330877,8.4583,NaN,Q,0,3,676.664,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,"Montvila, Rev. Juozas",0,2,male,27.0,0,0,211536,13.0000,NaN,S,0,2,1040.000,21
886,"Graham, Miss. Margaret Edith",1,1,female,19.0,0,0,112053,30.0000,B42,S,0,2,2400.000,28
887,"Johnston, Miss. Catherine Helen ""Carrie""",0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0,3,1876.000,40
888,"Behr, Mr. Karl Howell",1,1,male,26.0,0,0,111369,30.0000,C148,C,0,2,2400.000,21
889,"Dooley, Mr. Patrick",0,3,male,32.0,0,0,370376,7.7500,NaN,Q,0,3,620.000,19

In [ ]:
def create_flag(x):
  if x<10:
    return "cheap"
  elif x>10 and x<20:
    return "mid"
  else:
    return "high"

In [ ]:
df1["Flage_fare"]=df1["Fare"].apply(create_flag)

In [ ]:
df1

,Name,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_column,new_col,Fare_inr,Name_len,Flage_fare
0,"Braund, Mr. Owen Harris",0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,3,580.000,23,cheap
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,1,female,38.0,1,0,PC 17599,71.2833,C85,C,0,2,5702.664,51,high
2,"Heikkinen, Miss. Laina",1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,4,634.000,22,cheap
3,"Allen, Mr. William Henry",0,3,male,35.0,0,0,373450,8.0500,NaN,S,0,3,644.000,24,cheap
4,"Moran, Mr. James",0,3,male,NaN,0,0,330877,8.4583,NaN,Q,0,3,676.664,16,cheap
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,"Montvila, Rev. Juozas",0,2,male,27.0,0,0,211536,13.0000,NaN,S,0,2,1040.000,21,mid
886,"Graham, Miss. Margaret Edith",1,1,female,19.0,0,0,112053,30.0000,B42,S,0,2,2400.000,28,high
887,"Johnston, Miss. Catherine Helen ""Carrie""",0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0,3,1876.000,40,high
888,"Behr, Mr. Karl Howell",1,1,male,26.0,0,0,111369,30.0000,C148,C,0,2,2400.000,21,high
889,"Dooley, Mr. Patrick",0,3,male,32.0,0,0,370376,7.7500,NaN,Q,0,3,620.000,19,cheap

In [ ]:
data={"a":[1,2,3,4],"b":[4,5,6,7],"c":["sudh","krish","hitesh","navin"]}
dfs=pd.DataFrame(data,index=["a","b","c","d"])

In [ ]:
dfs

   a  b       c
a  1  4    sudh
b  2  5   krish
c  3  6  hitesh
d  4  7   navin

In [ ]:
dfs.reindex(["b","c","a","d"])

   a  b       c
b  2  5   krish
c  3  6  hitesh
a  1  4    sudh
d  4  7   navin

In [ ]:
dfs

   a  b       c
a  1  4    sudh
b  2  5   krish
c  3  6  hitesh
d  4  7   navin

In [ ]:
for i in dfs.iterrows():
  print(i)

('a', a       1
b       4
c    sudh
Name: a, dtype: object)
('b', a        2
b        5
c    krish
Name: b, dtype: object)
('c', a         3
b         6
c    hitesh
Name: c, dtype: object)
('d', a        4
b        7
c    navin
Name: d, dtype: object)

In [ ]:
for s in dfs.iteritems():
  print(i)

('d', a        4
b        7
c    navin
Name: d, dtype: object)
('d', a        4
b        7
c    navin
Name: d, dtype: object)
('d', a        4
b        7
c    navin
Name: d, dtype: object)

<ipython-input-104-26164154f5df>:1: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for s in dfs.iteritems():

In [ ]:
def test(x):
  return x.sum()
dfs.apply(test)

a                      10
b                      22
c    sudhkrishhiteshnavin
dtype: object

In [ ]:
dfh=dfs[["a","b"]]

In [ ]:
dfh.applymap(lambda x: x**2)

    a   b
a   1  16
b   4  25
c   9  36
d  16  49

In [ ]:
dfs.sort_values("c")

   a  b       c
c  3  6  hitesh
b  2  5   krish
d  4  7   navin
a  1  4    sudh

In [ ]:
#Python pandas - Window Function

In [ ]:
dfm=pd.DataFrame({"a":[1,2,3,4,5,6,7,8,9]

})

In [ ]:
dfm

   a
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9

In [ ]:
dfm.rolling(window=1).mean()

     a
0  1.0
1  2.0
2  3.0
3  4.0
4  5.0
5  6.0
6  7.0
7  8.0
8  9.0

In [ ]:
dfm.rolling(window=2).mean()

     a
0  NaN
1  1.5
2  2.5
3  3.5
4  4.5
5  5.5
6  6.5
7  7.5
8  8.5

In [ ]:
dfm.rolling(window=3).mean()

     a
0  NaN
1  NaN
2  2.0
3  3.0
4  4.0
5  5.0
6  6.0
7  7.0
8  8.0

In [ ]:
dfm.cumsum()

    a
0   1
1   3
2   6
3  10
4  15
5  21
6  28
7  36
8  45

In [ ]:
data=pd.date_range(start="2023-05-06",end="2023-08-22") #date formate "yyyy-mm-dd"

In [ ]:
data

DatetimeIndex(['2023-05-06', '2023-05-07', '2023-05-08', '2023-05-09',
               '2023-05-10', '2023-05-11', '2023-05-12', '2023-05-13',
               '2023-05-14', '2023-05-15',
               ...
               '2023-08-13', '2023-08-14', '2023-08-15', '2023-08-16',
               '2023-08-17', '2023-08-18', '2023-08-19', '2023-08-20',
               '2023-08-21', '2023-08-22'],
              dtype='datetime64[ns]', length=109, freq='D')

In [ ]:
df_data=pd.DataFrame({"date":data})

In [ ]:
df_data

          date
0   2023-05-06
1   2023-05-07
2   2023-05-08
3   2023-05-09
4   2023-05-10
..         ...
104 2023-08-18
105 2023-08-19
106 2023-08-20
107 2023-08-21
108 2023-08-22

[109 rows x 1 columns]